/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #718096;
  border-radius: 10px;
  border-width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9582f2;
  border-radius: 10px;
  border-width: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #06d5b3;
  border-radius: 10px;
  border-width: 10px;
}
